*{
	font-family:Sans;
	font-size:7px;
	padding:0;
	margin:0;
	border:0;
	border-radius:0;
}
default{
	border:1px solid yellow;
}
.menubar{
	padding:0 0 0 2em;
	background:#202020;
	box-shadow:inset 0 -.2em .2em alpha(white,.3);
}
.menu{
	box-shadow:inset 0 -.1em .1em alpha(white,.3);
	padding:.5em 0 .5em 0;
	border:1px solid #101010;
	border-top:0;
}
.menuitem{
	padding:.25em 2em .5em 2em;
}
GtkTextView{
	font-family:monospace;
	font-size:1.5em;
}
.toolbar .button{
	padding:0;
	margin:0;
}
.notebook{
	border-bottom:1px solid gray;
}
.notebook tab{
	padding:.1em 1em 0 1em;
}
.notebook tab:active{
	border:1px solid gray;
	border-bottom:0;
	border-top:1px solid green;
}
.notebook tab:focus{
	font-weight:bold;
	color:red;
}
.notebook tab GtkLabel:active {
	color:blue;
}
.entry{
	background-color:white;
	padding:.5em;
	border-radius:.5em;
	border:1px solid blue;
}
.button{
	border:1px solid gray;
	padding:.125em 1em .125em 1em;
}
.button:hover,
.button:active,
.button:focus{
	color:blue;
	font-weight:bold;
}
GtkTreeView{
	-GtkTreeView-expander-size:2;
	-GtkTreeView-horizontal-separator:15;
	-GtkTreeView-vertical-separator:3;
}
GtkTreeView.separator{
	background-color:cyan;
}
column-header .button{
	border:1px solid #e0e0e0;
	border-left:0;
}
column-header:last-child .button{
	border-right:0;
}
column{
	border-right:1px solid #f0f0f0;
	border-left:0;
}
column:last-child{
	border-right:0;
}
row{
	border-bottom:1px solid #f0f0f0;
}
